#info {
  text-align: justify;
  min-height: 95vh;
  padding-top: 92px;
  font-size: 1rem;
}
#info-left {
  height: 100%;
}
#info-right {
  margin-top: 2.5rem;
}
.info__content__heading {
  font-size: 3rem;
  font-weight: 600;
}

.info__content__subheading {
  font-size: 2rem;
  font-weight: 600;
  color: #484a46;
}
.info__content__testimonial {
  font-style: italic;
}
.info__content__cofounder {
  font-weight: 600;
}
.info__content__banner {
  width: 100%;
}
.info__content__banner__image {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.vertical-heading {
  position: relative;
}
.vertical-heading h5 {
  color: #14bf98;
  font-size: 14px;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 60px;
  left: -53px;
}

.vertical-heading h2 {
  position: absolute;
  top: 24px;
  left: 25px;
  text-align: left;
}

.horizontal-heading h2,
.vertical-heading h2 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}

.horizontal-heading {
  margin-bottom: 80px;
}

.horizontal-heading h5 {
  font-size: 16px;
  color: #14bf98;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.horizontal-heading h2 {
  margin: 0;
}

.about-right-cofounder {
  font-weight: 600;
}

.info-background-container {
  width: 70%;
  margin: auto;
}

.info-background {
  width: 100%;
}

.other-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-section {
  margin-top: 4rem;
}

.info-bg-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}
.info-bg-image {
  width: 85%;
  margin-left: auto;
}
.info-bg {
  width: 100%;
  display: block;
}
