#contact {
  min-height: 95vh;
  background: #eaeaea;
  padding-top: 90px;
  position: relative;
}
#offices {
  padding-top: 10rem;
}

ul.office-details {
  list-style: none;
  padding: 0;
}

ul.office-details li {
  font-family: 'Open Sans', sans-serif;
  margin-top: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ul.office-details li i {
  font-size: 20px;
  width: 45px;
}

#contact-left ul.social-list li a {
  color: #212226;
  border: 1px solid #212226;
  text-align: center;
}

#contact-left ul.social-list li a:hover {
  color: #fff;
  border-color: transparent;
}

/* Contact Right */

#contact-right {
  padding: 25px 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#contact-right h4 {
  font-size: 24px;
}

#contact-right p {
  margin-bottom: 25px;
}

#contact-right form .form-control {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 24px;
}

#contact-right form textarea.form-control {
  min-height: 164px;
}

ul.social-list {
  padding: 0;
  margin-top: 20px;
}

ul.social-list li {
  display: inline-block;
  padding: 0;
}

ul.social-list li a {
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  margin-right: 0.2rem;
}

ul.social-list li:nth-child(1) a:hover {
  background: #3b5998;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background: #00aced;
  border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
  background: #dd4b39;
  border-color: transparent;
}
ul.social-list li:nth-child(4) a:hover {
  background: #1d49dd;
  border-color: transparent;
}

.form-group {
  margin-bottom: 15px;
}
.btn-general {
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-yellow {
  color: #fff;
  border: 1px solid #14bf98;
  background-color: #14bf98;
}

.btn-yellow:hover,
.btn-yellow:focus {
  color: #fff;
  background-color: rgb(17, 52, 72);
  border: 1px solid rgb(17, 52, 72);
}

/* Responsive */
@media (min-width: 768px) and (max-width: 991px) {
   /* Contact */
  ul.office-details li {
    margin-right: 15px;
  }
  ul.office-details li i {
    width: 25px;
  }
}

@media (max-width: 767px) {
    /* Contact */
    #offices {
    padding-top: 2rem;
  }
  #contact-left {
    text-align: center;
  }
  ul.office-details li {
    display: block;
    margin-top: 25px;
  }
  ul.office-details li i {
    width: auto;
    display: block;
    margin-bottom: 3px;
  }
  ul.social-list {
    margin-bottom: 40px;
  }
}
