/* Logo */
.logo {
  width: 80px;
  height: 50px;
  margin: 0;
}
.logo__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* .nav-item {
  font-weight: bold;
} */
.navbar-nav .nav-item {
  padding-right: 0.5rem;
}
.navbar-toggler {
  border: none;
}
.navbar {
  box-shadow: 0px 5px 13px 0px rgba(104, 104, 104, 0.75);
}
.navbar-nav {
  text-align: center;
  font-size: 1rem;
}
.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.nav-link:hover,
.nav-link.active {
  color: #14bf98 !important;
}

.navanimate {
  transition: all 0.1s ease-in-out;
}
